# include "../params/conversions_params.h"

static mp_limb_t EXTENSION_FIELD_ELEMENTS[N_TEST][EXTENSION_DEGREE][N_LIMBS] = {{elements_mpn}};

static int64_t CONVERTED_ELEMENTS_CLASSICAL[N_TEST][DEGREE] = {{classical_conv}};

//static int64_t CONVERTED_ELEMENTS_PSEUDO_FAST[N_TEST][DEGREE] = {{pseudo_conv}};

static int64_t CONVERTED_ELEMENTS_FAST[N_TEST][DEGREE] = {{fast_conv}};