# include "../params/conversions_params.h"

static mp_limb_t EXTENSION_FIELD_ELEMENTS[N_TEST][EXTENSION_DEGREE][N_LIMBS] = {{elements_mpn}};

static int64_t CONVERTED_ELEMENTS[N_TEST][DEGREE] = {{conv}};