# include "../params/reductions_params.h"

static int64_t POL_A[N_TEST][DEGREE] = {{polA}};

static int64_t POL_B[N_TEST][DEGREE] = {{polB}};

static int64_t MONTGOMERY_PROD_RED[N_TEST][DEGREE] = {{montgomery_red}};

static int64_t BABAI_PROD_RED[N_TEST][DEGREE] = {{babai_red}};