#define {{method_name}}(RESULT, POLYNOMIAL){\
    int64_t Q[DEGREE] = {0};\
    __int128 T[DEGREE] = {0};\
\
    ext_red_w_matrix(uint64_t, Q, POLYNOMIAL, MAT_N);\
    ext_red_w_matrix(__int128, T, Q, MAT_M);\
\
    for (int deg=0; deg<DEGREE; deg++){\
        RESULT[deg] = (T[deg] + POLYNOMIAL[deg]) >> 64;\
    }\
}