#include <stdint.h>

#define N_TEST {{n_test}}
#define EXTENSION_DEGREE {{k}}

#define PHI_POW {{phi_pow}}
#define NB_CHUNKS {{nb_chunks}}
#define NB_INTERN_RED_CALSSICAL {{nb_intern_red_calssical}}

typedef struct {
    uint64_t limbs[NB_CHUNKS];
} BigInt;


static BigInt EXTENSION_FIELD_ELEMENTS [N_TEST][EXTENSION_DEGREE] = {
    {{elements_decompose}}
};