#include <stdint.h>

#define N_TEST {{n_test}}
#define EXTENSION_DEGREE {{k}}

#define PHI_POW {{phi_pow}}
#define RHO {{rho}}
#define NB_LIMBS {{nb_limbs}}
#define NB_CHUNKS NB_LIMBS
#define NB_INTERN_RED_CALSSICAL {{nb_intern_red_calssical}}

typedef struct {
    uint64_t limbs[NB_LIMBS];
} BigInt;


static BigInt EXTENSION_FIELD_ELEMENTS [N_TEST][EXTENSION_DEGREE] = {
    {{elements_decompose}}
};