#include <stdint.h>

#define N_TEST {{n_test}}
#define EXTENSION_DEGREE {{k}}

#define {{fname}}(hi, low) (((unsigned __int128)(hi) << 64) | (unsigned __int128)(low))

struct MegaBigInt{
    uin64_t limbs[{{nb_chunks}}];
}

static unsigned __int128 EXTENSION_FIELD_ELEMENTS [N_TEST][EXTENSION_DEGREE] = {{elements_str}}