#define coefs_shift(RESULT, POLYNOMIAL, SHIFT){\
    for (int i=0; i<DEGREE; i++){\
        RESULT[i] = POLYNOMIAL[i] >> SHIFT;\
    }\
}


#define prod_vect_mat(RETURN_TYPE, RESULT, VECTOR, MATRIX){\
    for (int i=0; i<DEGREE; i++){\
        RETURN_TYPE coef = 0;\
        for (int j=0; j<DEGREE; j++){\
            coef += (RETURN_TYPE) VECTOR[j]*MATRIX[j][i];\
        }\
        RESULT[i] = coef;\
    }\
}


#define {{method_name}}(RESULT, POLYNOMIAL){\
    __int128 S [DEGREE];\
    __int128 SL [DEGREE];\
    int64_t P [DEGREE];\
\
    coefs_shift(P, POLYNOMIAL, H2);\
    prod_vect_mat(__int128, S, P, L_INV_BABAI);\
    coefs_shift(S, S, (H1 - H2));\
    prod_vect_mat(__int128, SL, S, L);\
\
    for (int i=0; i<DEGREE; i++)\
        RESULT[i] = POLYNOMIAL[i] - SL[i];\
}
