===================
Architecture used :
===================

WORD_SIZE: {{phi_pow}}

======================
Field construct with :
======================

POLYNOMIAL_EXTENSION: {{mod}}

PRIME: {{p}}

EXTENSION_DEGREE: {{k}}

=====================
PMNS construct with :
=====================

EXTERNAL_REDUCTION: {{E}}

ROOT: {{gamma}}

RHO: {{rho}}

REDUCE_LATTICE:
{{L}}

