===================
Architecture used :
===================

WORD_SIZE: {{phi_pow}}

======================
Field construct with :
======================

POLYNOMIAL_EXTENSION: {{mod}}

PRIME: {{p}}

PRIME SIZE: {{p.nbits()}}

EXTENSION_DEGREE: {{k}}

=====================
PMNS construct with :
=====================

EXTERNAL_REDUCTION: {{E}}

GAMMA: {{gamma}}

RHO: {{rho}}

