#include <stdint.h>

#define N_TEST {{n_test}}
#define N_COEF {{n}}

static int64_t POLA [N_TEST][N_COEF] = {{polA_str}}

static int64_t POLB [N_TEST][N_COEF] = {{polB_str}}

static int64_t REDUCTION [N_TEST][N_COEF] = {{reds_str}}