#include <stdint.h>

#define N_TEST {{n_test}}
#define N_COEF {{n}}

#define {{fname}}(hi, lo) ((__int128) hi << 64 | (unsigned __int128) lo)

static __int128 P [N_TEST][N_COEF] = {{prods_str}}

static int64_t R [N_TEST][N_COEF] = {{reds_str}}