# include "test.h"
# include "general_param.h"
# include <time.h>
# include <stdio.h>
# include <x86intrin.h>

# define INNER_TEST 1000
# define print_unit printf("cycles.\n")

# define add(RESULT, POLYNOMIALa, POLYNOMIALb){\
    for (int deg=0; deg<DEGREE; deg++)\
        RESULT[deg] = POLYNOMIALa[deg] + POLYNOMIALb[deg];\
}

# define sub(RESULT, POLYNOMIALa, POLYNOMIALb){\
    for (int deg=0; deg<DEGREE; deg++)\
        RESULT[deg] = POLYNOMIALa[deg] - POLYNOMIALb[deg];\
}

# define square(RESULT, POLYNOMIALa){\
}

int random_idx(){
    return (unsigned int) rand() % (N_TEST + 1);
}

int main(){
    srand(time(NULL));
    unsigned long long cycles, cycles1, cycles2;
    int64_t *a, *b;
    int64_t res[DEGREE];
    
    cycles = 0;
    for (int n=0; n<N_TEST; n++)
    {
        a = POLA[random_idx()]; 
        b = POLB[random_idx()];

        cycles1 = __rdtsc();
        for (int i=0; i<INNER_TEST; i++) {
            add(res, a, b);
            __asm__ __volatile__("" : "+m"(res) : : "memory");
        }
        cycles2 = __rdtsc();
        cycles = cycles+(cycles2-cycles1);
    }
    printf("  GF(p^2) addition runs in ............... %8lld ", cycles/(N_TEST*INNER_TEST)); 
    print_unit;
}