# include "pmns_params.h"

# define N_INT_RED_CLASSICAL {{n_red_exact}}
# define N_INT_RED_PSEUDO_FAST {{n_red_pseudo}}
# define N_INT_RED_FAST {{n_red_fast}}
# define THETA_POW {{theta_pow}}
# define N_POL {{n_pol}}

static const mp_limb_t TRANSITION_MATRIX[EXTENSION_DEGREE][EXTENSION_DEGREE][N_LIMBS] = {{T_mat}};

//~ pre-compute PMNS representation of theta^i * phi^r
static const int64_t PMNS_THETA_PSEUDO_FAST[1][N_POL][DEGREE] = {{int_pols}};

//~ pre-compute PMNS representation of z^i where z is the root of the polynomial use to construct extension field
static const int64_t PMNS_FIELD_ROOTS[EXTENSION_DEGREE][DEGREE] = {{z_pols}};

//~ pre-compute PMNS representation of theta^i * phi^r * z**j
static const int64_t PMNS_THETA_FAST[EXTENSION_DEGREE][N_POL][DEGREE] = {{fast_pols}};
