#include <gmp.h>
#include <stdio.h>
#include "../add_parameters/general_param.h"
#include "../test_values/test_conversion.h"

static const mp_limb_t P[NB_LIMBS] = {4447634635591002531ULL, 18152133456427927961ULL, 15452689068804757998ULL, 11023743767915843796ULL, 13402533785519023286ULL, 18154006914173044349ULL, 6629518884792049241ULL, 15309276654326993922ULL};

static mp_limb_t TRANSITION_MATRIX[EXTENSION_DEGREE][EXTENSION_DEGREE] ={
    {
        {{1ULL, 0ULL, 0ULL, 0ULL, 0ULL, 0ULL, 0ULL, 0ULL}}
    }
};


static inline void init_element_with_phipow(mp_limb_t out[DEGREE][NB_LIMBS], const mp_limb_t data[EXTENSION_DEGREE][NB_LIMBS], unsigned int power) {
    mp_limb_t extension_element[EXTENSION_DEGREE][NB_LIMBS + power];
    mp_limb_t quotient[power + 1];
    mp_limb_t remainder[NB_LIMBS];

    for (int deg = 0; deg < EXTENSION_DEGREE; deg++) {
        mpn_zero(extension_element[deg], power);
        mpn_copyi(extension_element[deg] + power, data[deg], NB_LIMBS);
    }

    for (int deg = 0; deg < EXTENSION_DEGREE; deg++) {
        mpn_tdiv_qr(quotient, remainder, 0, extension_element[deg], NB_LIMBS + power, P, NB_LIMBS);
        mpn_copyi(out[deg], remainder, NB_LIMBS);
    }

    for (int deg = EXTENSION_DEGREE; deg < DEGREE; deg++) {
        mpn_zero(out[deg], NB_LIMBS);
    }
}



static inline void element_change_basis(mp_limb_t out[EXTENSION_DEGREE][NB_LIMBS], mp_limb_t extension_element[EXTENSION_DEGREE][NB_LIMBS], mp_limb_t transition_matrix[EXTENSION_DEGREE][EXTENSION_DEGREE][NB_LIMBS]){
    const unsigned int MAX_SIZE = 2 * NB_LIMBS + 2;
    
    mp_limb_t quotient[NB_LIMBS + 2];
    mp_limb_t remainder[NB_LIMBS];
    mp_limb_t acc[MAX_SIZE];
    mp_limb_t prod[MAX_SIZE];

    for (int j = 0; j < EXTENSION_DEGREE; j++){
        mpn_zero(acc, MAX_SIZE);

        for (int i = 0; i < EXTENSION_DEGREE; i++){
            mpn_zero(prod, MAX_SIZE);
            mpn_mul_n(prod, extension_element[i], transition_matrix[i][j], NB_LIMBS);

            // Under the assumption EXTENSION_DEGREE < 2^64 and using the accumulator size bound,
            // the carry-out of this full-width addition is guaranteed to be zero.

            (void) mpn_add_n(acc, acc, prod, MAX_SIZE);
        }

        // Reduce accumulated result modulo P
        mpn_tdiv_qr(quotient, remainder, 0, acc, MAX_SIZE, P, NB_LIMBS);
        mpn_copyi(out[j], remainder, NB_LIMBS);
    }
}



static inline void montgomery_reduction(mp_limb_t polynomial[DEGREE][NB_LIMBS]){

}


















void convert_element_to_pmns_classical(int64_t *out, mp_limb_t element_data[EXTENSION_DEGREE][NB_LIMBS]){
    mp_limb_t vector[DEGREE][NB_LIMBS];

    init_element_with_phipow(vector, element_data, NB_INTERN_RED_CALSSICAL);
    element_change_basis(vector, vector, TRANSITION_MATRIX);
    
    for (int it=0; it<NB_INTERN_RED_CALSSICAL; it++)

}

int main() {
    mp_limb_t extension_element[EXTENSION_DEGREE][NB_LIMBS];

    return 0;
}

