#include <gmp.h>
#include <stdio.h>
#include "../add_parameters/general_param.h"
#include "../test_values/test_conversion.h"

#ifndef NB_LIMBS
#ifdef NB_CHUNKS
#define NB_LIMBS NB_CHUNKS
#endif
#endif

#ifndef NB_CHUNKS
#ifdef NB_LIMBS
#define NB_CHUNKS NB_LIMBS
#endif
#endif

// --------------------------------------STATIC PARAMETERS-------------------------------------------------
static BigInt P = {{p_decompose}};

static BigInt TRANSITION_MATRIX[EXTENSION_DEGREE][EXTENSION_DEGREE] ={
    {{transition_matrix_decompose}}
};

static char *LIMIT_63BITS = "9223372036854775808";

static char *LIMIT_64BITS = "18446744073709551616";

// ---------------------------------------INITAILISATION---------------------------------------------------
void load_parameters(mpz_t prime, mpz_t transition_matrix[EXTENSION_DEGREE][EXTENSION_DEGREE]){
    mpz_init(prime);
    mpz_import(prime, NB_LIMBS, -1, sizeof(uint64_t), 0, 0, P.limbs);

    for (int i=0; i<EXTENSION_DEGREE; i++)
        for (int j=0; j<EXTENSION_DEGREE; j++){
            mpz_init(transition_matrix[i][j]);
            mpz_import(transition_matrix[i][j], NB_LIMBS, -1, sizeof(uint64_t), 0, 0, TRANSITION_MATRIX[i][j].limbs);
        }
}


void init_extension_field_element(mpz_t *extension_element){
    for (int deg=0; deg<EXTENSION_DEGREE; deg++){
        mpz_init(extension_element[deg]);
    }
}

void set_extension_field_element(mpz_t *extension_element, BigInt *decomposed_element){
    for (int deg=0; deg<EXTENSION_DEGREE; deg++){
        mpz_import(extension_element[deg], NB_LIMBS, -1, sizeof(uint64_t), 0, 0, decomposed_element[deg].limbs);
    }
}


void clear_parameters(mpz_t prime, mpz_t transition_matrix[EXTENSION_DEGREE][EXTENSION_DEGREE]){
    mpz_clear(prime);

    for (int i=0; i<EXTENSION_DEGREE; i++)
        for (int j=0; j<EXTENSION_DEGREE; j++)
            mpz_clear(transition_matrix[i][j]);
}


void clear_extension_field_element(mpz_t extension_element[EXTENSION_DEGREE]){
    for (int i = 0; i < EXTENSION_DEGREE; i++)
        mpz_clear(extension_element[i]);
}



// ---------------------------------------PRINT---------------------------------------------------
void print_extension_field_element(mpz_t extension_element[EXTENSION_DEGREE]){
    printf("ELEMENT : {");
    for (int i = 0; i < EXTENSION_DEGREE; i++) {
        gmp_printf("%Zd%s", extension_element[i], (i < EXTENSION_DEGREE - 1) ? ", " : "");
    }
    printf("}\n");
}

void print_polynomial(mpz_t polynomial[DEGREE]){
    printf("POLYNOMIAL : [");
    for (int i = 0; i < DEGREE; i++) {
        gmp_printf("%Zd%s", polynomial[i], (i < DEGREE - 1) ? ", " : "");
    }
    printf("]\n");
}

void print_pol(int64_t polynomial[DEGREE]){
    printf("POLYNOMIAL : [");
    for (int i = 0; i < DEGREE; i++) {
        printf("%lld%s", (long long) polynomial[i], (i < DEGREE - 1) ? ", " : "");
    }
    printf("]\n");
}



#define vector_matrix_prod_BigInt(RESULT, VECTOR, MATRIX, USED_DEGREE){ \
    mpz_t coeffs[USED_DEGREE];                                          \
                                                                        \
    for (int i=0; i<USED_DEGREE; i++){                                  \
        mpz_init_set_ui(coeffs[i], 0);                                  \
        for (int j=0; j<USED_DEGREE; j++){                              \
            mpz_addmul(coeffs[i], VECTOR[j], MATRIX[j][i]);             \
        }                                                               \
    }                                                                   \
                                                                        \
    for (int i=0; i<USED_DEGREE; i++){                                  \
        mpz_set(RESULT[i], coeffs[i]);                                  \
        mpz_clear(coeffs[i]);                                           \
    }                                                                   \
}


#define vector_matrix_prod_64bits(RESULT, VECTOR, MATRIX, USED_DEGREE){ \
    mpz_t coeffs[USED_DEGREE];                                          \
    mpz_t tmp_mat;                                                      \
                                                                        \
    mpz_init(tmp_mat);                                                  \
    for (int i=0; i<USED_DEGREE; i++){                                  \
        mpz_init_set_ui(coeffs[i], 0);                                  \
        for (int j=0; j<USED_DEGREE; j++){                              \
            mpz_set_si(tmp_mat, MATRIX[j][i]);                          \
            mpz_addmul(coeffs[i], VECTOR[j], tmp_mat);                  \
        }                                                               \
    }                                                                   \
                                                                        \
    for (int i=0; i<USED_DEGREE; i++){                                  \
        mpz_set(RESULT[i], coeffs[i]);                                  \
        mpz_clear(coeffs[i]);                                           \
    }                                                                   \
    mpz_clear(tmp_mat);                                                 \
}



#define montgomery_reduction(POLYNOMIAL){\
    mpz_t Q[DEGREE], T[DEGREE];\
    mpz_t tmp_mul, tmp_mat;\
    mpz_t limit_63bits, limit_64bits;\
\
    mpz_init(tmp_mul);\
    mpz_init(tmp_mat);\
    for (int deg=0; deg<DEGREE; deg++){\
        mpz_init_set_ui(Q[deg], 0);\
        mpz_init_set_ui(T[deg], 0);\
    }\
\
    mpz_init_set_str(limit_63bits, LIMIT_63BITS, 10);\
    mpz_init_set_str(limit_64bits, LIMIT_64BITS, 10);\
    for (int j=0; j<DEGREE; j++){\
        for (int i=0; i<DEGREE; i++){\
            mpz_set_si(tmp_mat, MAT_N[i][j]);\
            mpz_addmul(Q[j], POLYNOMIAL[i], tmp_mat);\
        }\
        mpz_fdiv_r_2exp(Q[j], Q[j], PHI_POW);\
        if (mpz_cmp(Q[j], limit_63bits) >= 0){\
            mpz_sub(Q[j], Q[j], limit_64bits);\
        }\
    }\
\
    vector_matrix_prod_64bits(T, Q, MAT_M, DEGREE);\
\
    for (int deg=0; deg<DEGREE; deg++){\
        mpz_add(POLYNOMIAL[deg], POLYNOMIAL[deg], T[deg]);\
        mpz_fdiv_q_2exp(POLYNOMIAL[deg], POLYNOMIAL[deg], PHI_POW);\
    }\
\
    for (int i=0; i<DEGREE; i++){\
        mpz_clear(Q[i]);\
        mpz_clear(T[i]);\
    }\
    mpz_clear(tmp_mul);\
    mpz_clear(tmp_mat);\
    mpz_clear(limit_63bits);\
    mpz_clear(limit_64bits);\
}



#define complete_polynomial(POLYNOMIAL, ELEMENT_IN_GAMMA){\
    for (int deg = 0; deg < EXTENSION_DEGREE; deg++)\
        mpz_set(POLYNOMIAL[deg], ELEMENT_IN_GAMMA[deg]);\
\
    for (int deg = EXTENSION_DEGREE; deg < DEGREE; deg++)\
        mpz_set_ui(POLYNOMIAL[deg], 0);\
}



#define convert_element_to_pmns_classical(POLYNOMIAL, ELEMENT, PRIME, TRANSITION_MATRIX){\
    mpz_t temp_polynomial[DEGREE];\
    uint64_t shift = 64 * NB_INTERN_RED_CALSSICAL;\
\
    for (int deg=0; deg<EXTENSION_DEGREE; deg++){\
        mpz_mul_2exp(ELEMENT[deg], ELEMENT[deg], shift);\
        mpz_mod(ELEMENT[deg], ELEMENT[deg], PRIME);\
    }\
\
    vector_matrix_prod_BigInt(ELEMENT, ELEMENT, TRANSITION_MATRIX, EXTENSION_DEGREE);\
    for (int i=0; i<EXTENSION_DEGREE; i++)\
        mpz_fdiv_r(ELEMENT[i], ELEMENT[i], PRIME);\
\
    for (int i = 0; i < DEGREE; i++)\
        mpz_init(temp_polynomial[i]);\
\
    complete_polynomial(temp_polynomial, ELEMENT);\
\
    for (int i=0; i<NB_INTERN_RED_CALSSICAL; i++){\
        montgomery_reduction(temp_polynomial);\
    }\
\
    for (int i=0; i<DEGREE; i++){\
        POLYNOMIAL[i] = mpz_get_si(temp_polynomial[i]);\
        mpz_clear(temp_polynomial[i]);\
    }\
}


void assert_under_rho(int64_t *polynomial){
    for (int deg=0; deg<DEGREE; deg++)
        if (polynomial[deg] >= RHO || polynomial[deg] <= -RHO)
            printf("error during reduction\n");
}

int main() {
    mpz_t prime;
    mpz_t transition_matrix[EXTENSION_DEGREE][EXTENSION_DEGREE];
    mpz_t extension_element[EXTENSION_DEGREE];
    int64_t polynomial[DEGREE];

        
    load_parameters(prime, transition_matrix);
    init_extension_field_element(extension_element);

    for (int test=0; test<N_TEST; test++){
        set_extension_field_element(extension_element, EXTENSION_FIELD_ELEMENTS[test]);
        print_extension_field_element(extension_element);
        convert_element_to_pmns_classical(polynomial, extension_element, prime, transition_matrix);
        print_pol(polynomial);
        printf("\n");
    }

    clear_extension_field_element(extension_element);
    clear_parameters(prime, transition_matrix);
}